.background {
  display: flex;
  justify-content: center;
  align-content: center;

  .panel {
    width: calc(90% - 1rem);
    padding: 1rem;

    .switch {
      display: flex;
      justify-content: center;
      gap: 0.4rem;

      .active {
        background-color: rgba(10, 10, 10, 0.25);
      }

      button {
        padding: 0.4rem 0.8rem 0.2rem;
        background-color: transparent;
        border: none;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: #f9ffad;
      }
    }

    .forms {
      padding: 1.2rem 0.8rem;
      background-color: rgba(10, 10, 10, 0.25);
      border-radius: 2px;

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .field {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          width: 100%;
          padding: 0.2rem;

          .label {
            margin-left: 0.6rem;
            font-size: 0.8rem;
            color: rgba(10, 10, 10, 0.5);
          }

          .input {
            padding: 0.5rem;
            border: none;
            border-radius: 2px;
          }
        }

        .send {
          padding: 0.4rem 1.2rem;
          border: 1px solid #f9ffad;
          border-radius: 2px;
          background-color: #f9ffad;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.05rem;

          transition: 0.2s ease-out;

          &:hover {
            background-color: transparent;
            color: #f9ffad;
          }
        }
      }
    }
  }
}
